<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{{ title|default('Simple CMS')|striptags }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Bootstrap -->
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% block includes %}
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url("home_redirect") }}">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ knp_menu_render('simple', { 'style': 'navbar' }) }}
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% render controller("CmsUserBundle:Menu:show") %}
{% render controller("cmf_create.jsloader.controller:includeJSFilesAction", {'_locale': app.request.locale}) %}

</body>
</html>