{% extends "AcmeMainBundle::layout.html.twig" %}

{% block heroUnit %}
    {% createphp cmfMainContent as="rdf" %}
    {{ rdf.title|raw }}
    {{ rdf.body|raw }}
    {% endcreatephp %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            <div class="row">
            {{ sonata_block_render({ 'name': 'firstBlock' }, {
            'template': 'AcmeMainBundle:Blocks:block.html.twig'
            })}}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
            {{ sonata_block_render({ 'name': 'secondBlock' }, {
            'template': 'AcmeMainBundle:Blocks:block.html.twig'
            })}}
            </div>
        </div>
        <div class="col-lg-4 vignette">
            <div class="row">
            {{ sonata_block_render({ 'name': 'thirdBlock' }, {
            'template': 'AcmeMainBundle:Blocks:block.html.twig'
            })}}
            </div>
        </div>
    </div>

    {#{{ sonata_block_render({ 'name': 'additionalInfoBlock' }, {#}
    {#'divisible_by': 3,#}
    {#'divisible_class': 'row',#}
    {#'child_class': 'col-md-4'#}
    {#}) }}#}

{% endblock %}

