{% extends "AcmeMainBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        {% createphp cmfMainContent as="rdf" %}
        {{ rdf.title|raw }}
        <div class="col-lg-12">
            {{ rdf.description|raw }}
        </div>
        <table class="table col-lg-12">
            <tr>
                <th class="col-lg-2">Plans</th>
                <td>
                    {{ rdf.plans|raw }}
                </td>
            </tr>
            <tr>
                <th>Architect</th>
                <td>
                    {{ rdf.architect|raw }}
                </td>
            </tr>
            <tr>
                <th>Détails</th>
                <td>
                    {{ rdf.details|raw }}
                </td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>
                    {{ rdf.price|raw }}
                </td>
            </tr>
        </table>
        {% endcreatephp %}
    </div>

    {{ sonata_block_render({ 'name': 'addressMap' }, {
    'template': 'CmsMainBundle:Blocks:addressMap.html.twig'
    })}}

    {{ sonata_block_render({ 'name': 'gallery' }) }}

{% endblock %}